*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* nav style section */

.nav-section{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 100px;
}
.icon span{
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
}
.menu-bar ul{
     display: flex;
     list-style: none;
     margin-left: 10px;
}
.menu-bar ul li a{
    text-decoration: none;
   margin-right: 40px;
   color: black;
   font-size: 18px;
}

/* taitle section start */

.nav-text{
    margin-left: 300px;
    margin-bottom: 30px;
    
}
.text-title{
    color:  #333;
    font-size: 40px;
    
   
}
.cover-pic{
    margin-bottom: 30px;
}
.cover-pic img{
    height: 300px;
   margin-left: 80px;
    border-radius: 10px;
}
.body-description{
    margin-left: 300px;
}
.contact-form{
    margin-left: 300px;
    padding-top: 10px;
}
.input-section{
    display: flex;
}
input{
    padding: 10px 100px 10px 10px;
    border: 0;
    border-radius: 10px;
    background: #F2F2F2;
    outline: none;
}
.btn-button{
    outline: none;
    border: 0;
    padding: 9px 27px;
    border-radius: 10px;
    background: #2D9CDB;
    margin-right: 10px;
    color: #F2F2F2;
    font-size: 14px;
   margin-bottom: 50px;
} 